$color-primary: black;
$color-secondary: whitesmoke;
$color-hover: orangered;

$font-big: 2.5rem;
$font-md: 2rem;
$font-sm: 1.6rem;

$backgraund-primary: linear-gradient(90deg, rgba(18,16,84,1) 2%, rgba(18,16,84,1) 43%, rgba(36,33,137,1) 83%);
$backgraund-secondary: linear-gradient(90deg, rgba(37,33,167,1) 22%, rgba(53,48,218,1) 93%);
