@charset "UTF-8";
.titulo, .main-container-empresa .main-container-empresa-titulo h1, .main-section-catalogos-titulo h2, main .main-section-servicios .main-servicios-title h2, main .main-section2-container .main-ofertas1 h2 {
  font-size: 2.4rem;
  color: whitesmoke;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #313031;
}

.bgimage, main .main-section-servicios .container-servicios-cards .card4, main .main-section-servicios .container-servicios-cards .card3, main .main-section-servicios .container-servicios-cards .card2, main .main-section-servicios .container-servicios-cards .card1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex, .main-contacto-container .card-contacto form, .main-contacto-container .card-contacto, .main-register-form .main-container-form-register .form-register-checkbox, .main-register-form .main-container-form-register .main-form-register, .main-register-form .main-container-form-register, .main-login-form .container-main-login .login-container-form, .main-login-form .container-main-login, main .main-section2-container .main-ofertas-cards .cards-ofertas {
  display: flex;
  flex-direction: column;
}

.border-container, .main-contacto-container .card-contacto, .main-register-form .main-container-form-register, .main-login-form .container-main-login, .main-section-catalogos-container .main-section-catalogos-cards, .main-section-catalogos-container aside, main .main-section-servicios .container-servicios-cards .main-cards-services, main .main-section2-container .main-ofertas-cards .cards-ofertas {
  border: 1px solid #ada6ad;
  border-radius: 2rem;
  box-shadow: 2px 10px 22px -16px rgba(0, 0, 0, 0.49);
}

.border-input, .main-contacto-container .card-contacto form input, .main-register-form .main-container-form-register .form-button-register, .main-register-form .main-container-form-register .main-form-register input, .main-login-form .container-main-login .login-container-form .btn, .main-login-form .container-main-login .login-container-form input {
  border: 1.5px solid #ada6ad;
  border-radius: 0.8rem;
  padding: 0.7rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
}

/*Estilos index.html*/
/*Header*/
/*Primera seccion del header con "contacto" y "login"*/
.header1 {
  background: linear-gradient(90deg, #121054 2%, #121054 43%, #242189 83%);
  padding: 1rem;
}
.header1 a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: auto 0;
}
.header1 a:hover {
  color: orangered;
  font-weight: bold;
}
.header1 button {
  font-size: 1.5rem;
  width: 10rem;
  border-radius: 2rem;
}
.header1 button:hover {
  color: orangered;
  font-weight: bold;
  background-color: whitesmoke;
}
.header1 button:hover a {
  color: orangered;
  font-weight: bold;
}

/*Segunda seccion del header con el logo y el nav*/
nav {
  height: 12rem;
  padding: 1rem;
  box-shadow: 2px 10px 22px -16px rgba(0, 0, 0, 0.49);
}
nav div .header3 a img {
  width: 15rem;
}
nav div .header2 button i {
  font-size: 3.5rem;
}
nav div .header2 div h5 {
  font-size: 2.1rem;
  font-weight: bold;
}

/*Estilos main index.html*/
main {
  margin-top: 2rem;
  /*Estilos de la seccion de saludo y registro*/
  /*Esilos seccion ofertas index.html*/
  /*Seccion Servicios index.html*/
}
main .main-section1-container {
  justify-content: space-evenly;
  align-items: center;
  /*Saludo y botton registro*/
}
main .main-section1-container div {
  /*Estilos de la imagen primera seccion del main*/
}
main .main-section1-container div img {
  width: 65rem;
  padding: 1rem;
  box-shadow: 1px 1px 22px -6px #ada6ad;
  margin-bottom: 2rem;
}
@media (max-width: 720px) {
  main .main-section1-container div img {
    width: 100%;
    padding: 0;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  main .main-section1-container div img {
    width: 32rem;
  }
}
main .main-section1-container div {
  align-items: center;
}
main .main-section1-container div h2 {
  margin-bottom: 5rem;
  font-size: 3rem;
  font-style: italic;
}
@media (max-width: 480px) {
  main .main-section1-container div h2 {
    text-align: center;
  }
}
main .main-section1-container div p {
  font-size: 2.1rem;
  text-align: center;
}
main .main-section1-container div .btn {
  margin-top: 10rem;
  width: 50%;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
main .main-section1-container div .btn a {
  text-decoration: none;
}
main .main-section1-container div .btn:hover a {
  color: whitesmoke;
}
main .main-section2-container {
  /*Titulo de la seccion*/
  /*Seccion contenedora cards ofertas index.html*/
}
main .main-section2-container .main-ofertas1 {
  background: linear-gradient(90deg, #2521a7 22%, #3530da 93%);
}
main .main-section2-container .main-ofertas-cards {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*Estilos cards ofertas*/
}
@media (max-width: 960px) {
  main .main-section2-container .main-ofertas-cards {
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
}
main .main-section2-container .main-ofertas-cards .cards-ofertas {
  width: 26rem;
  height: auto;
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
main .main-section2-container .main-ofertas-cards .cards-ofertas img {
  width: 22rem;
  margin: 0 auto;
}
main .main-section2-container .main-ofertas-cards .cards-ofertas .card-body .card-title {
  font-weight: bold;
  font-size: 1.5rem;
}
main .main-section2-container .main-ofertas-cards .cards-ofertas .card-body .card-text {
  font-size: 1.5rem;
}
main .main-section2-container .main-ofertas-cards .cards-ofertas .card-body a {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
main .main-section2-container .main-ofertas-cards .cards-ofertas .card-body a:hover {
  color: orangered;
  font-weight: bold;
  background-color: whitesmoke;
  border-color: orangered;
}
main .main-section2-container .main-ofertas-cards .card:hover {
  border: 3px solid orangered;
}
main .main-section-servicios {
  /*Titulo de la seccion*/
  /*Contenedor de cards servicios*/
}
main .main-section-servicios .main-servicios-title {
  background: linear-gradient(90deg, #2521a7 22%, #3530da 93%);
}
main .main-section-servicios .container-servicios-cards {
  justify-content: space-around;
  /*Estilos de cards servicios*/
  /*inscersion de las imagenes dentro de las cards servicios*/
}
main .main-section-servicios .container-servicios-cards .main-cards-services {
  width: 35rem;
  height: 18rem;
  text-align: center;
  margin: 2rem;
  transition: border-radius 2s;
}
@media (max-width: 800px) {
  main .main-section-servicios .container-servicios-cards .main-cards-services {
    width: 30rem;
    margin: 1rem;
  }
}
@media (max-width: 720px) {
  main .main-section-servicios .container-servicios-cards .main-cards-services {
    width: 25rem;
  }
}
@media (max-width: 600px) {
  main .main-section-servicios .container-servicios-cards .main-cards-services {
    width: 20rem;
    border-radius: 20rem;
  }
}
main .main-section-servicios .container-servicios-cards .main-cards-services h4 {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #080808;
}
@media (max-width: 600px) {
  main .main-section-servicios .container-servicios-cards .main-cards-services h4 {
    color: black;
    text-shadow: 1px 1px 1px whitesmoke;
  }
}
main .main-section-servicios .container-servicios-cards .main-cards-services:hover {
  border-radius: 10rem;
  color: orangered;
  border: 2px solid orangered;
}
main .main-section-servicios .container-servicios-cards .main-cards-services:hover h4 {
  font-weight: bold;
  color: orangered;
}
main .main-section-servicios .container-servicios-cards .card1 {
  background-image: url(../img/estacionamiento.jpg);
}
main .main-section-servicios .container-servicios-cards .card2 {
  background-image: url(../img/atencionTelefonica.png);
}
main .main-section-servicios .container-servicios-cards .card3 {
  background-image: url(../img/ahorro.jpg);
}
main .main-section-servicios .container-servicios-cards .card4 {
  background-image: url(../img/ayudaCargar.jpg);
}

/*Estilos del footer index.html*/
footer {
  background: linear-gradient(90deg, #121054 2%, #121054 43%, #242189 83%);
  /*Primera seccion del footer que incluye iconos de redes*/
  /*Segunda seccion del footer contenedora de mapa de sitio*/
}
footer .footer-container-icons {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.1px solid rgba(245, 245, 245, 0.932);
}
@media (max-width: 800px) {
  footer .footer-container-icons {
    justify-content: center;
  }
}
footer .footer-container-icons a {
  margin: 1rem;
}
footer .footer-container-icons a i {
  color: whitesmoke;
}
footer .footer-container-icons a i:hover {
  color: orangered;
}
footer .footer-container-mapaSitio {
  /*contenedor del logo footer*/
  /*contenedor mapa de sitio footer index.html*/
}
@media (max-width: 800px) {
  footer .footer-container-mapaSitio {
    flex-direction: column;
  }
}
footer .footer-container-mapaSitio .footer-mapaSitio-img {
  display: grid;
  place-items: center;
}
@media (max-width: 800px) {
  footer .footer-container-mapaSitio .footer-mapaSitio-img {
    margin-top: 2rem;
  }
}
footer .footer-container-mapaSitio .footer-mapaSitio-img a img {
  width: 23rem;
}
@media (max-width: 600px) {
  footer .footer-container-mapaSitio .footer-mapaSitio-img a img {
    width: 18rem;
  }
}
@media (max-width: 800px) {
  footer .footer-container-mapaSitio .listas-footer {
    justify-content: center;
  }
}
footer .footer-container-mapaSitio .listas-footer div {
  margin: 3rem;
}
@media (max-width: 600px) {
  footer .footer-container-mapaSitio .listas-footer div {
    margin: 1.5rem;
  }
}
@media (max-width: 480px) {
  footer .footer-container-mapaSitio .listas-footer div {
    margin: 0.5rem;
  }
}
footer .footer-container-mapaSitio .listas-footer div .footer-lista {
  list-style: none;
  font-size: 1.8rem;
}
@media (max-width: 480px) {
  footer .footer-container-mapaSitio .listas-footer div .footer-lista {
    font-size: 1.5rem;
  }
}
footer .footer-container-mapaSitio .listas-footer div .footer-lista li a {
  text-decoration: none;
  color: whitesmoke;
}
@media (max-width: 480px) {
  footer .footer-container-mapaSitio .listas-footer div .footer-lista li a {
    font-size: 1.5rem;
  }
}
footer .footer-container-mapaSitio .listas-footer div .footer-lista li a h3 {
  font-size: 2.1rem;
  text-shadow: 1px 1px 1px #080808;
}
@media (max-width: 480px) {
  footer .footer-container-mapaSitio .listas-footer div .footer-lista li a h3 {
    font-size: 1.5rem;
  }
}
footer .footer-container-mapaSitio .listas-footer div .footer-lista .subtitulo-list-footer {
  font-style: italic;
  color: orangered;
}
footer .footer-container-mapaSitio .listas-footer div .footer-lista li:hover a {
  color: orangered;
  font-weight: bold;
}

/*Estilos aceitunas.html*/
/*Main aceitunas html titulo*/
.main-section-catalogos-titulo {
  height: 6rem;
  background: linear-gradient(90deg, #2521a7 22%, #3530da 93%);
}
/*Estilos main aceitunas.html*/
.main-section-catalogos-container {
  height: 80vh;
  /*Estilos aside main aceitunas.html*/
}
@media (max-width: 960px) {
  .main-section-catalogos-container {
    flex-direction: column;
    height: auto;
    margin-bottom: 1rem;
  }
}
.main-section-catalogos-container aside {
  width: auto;
  padding: 3rem;
  height: min-content;
  margin: 2rem;
}
@media (max-width: 960px) {
  .main-section-catalogos-container aside {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
@media (max-width: 720px) {
  .main-section-catalogos-container aside {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .main-section-catalogos-container aside {
    width: 97%;
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .main-section-catalogos-container aside {
    flex-wrap: wrap;
  }
}
.main-section-catalogos-container aside h4 {
  font-size: 2.1rem;
  color: orangered;
}
@media (max-width: 960px) {
  .main-section-catalogos-container aside h4 {
    margin: auto;
  }
}
@media (max-width: 960px) {
  .main-section-catalogos-container aside div {
    display: flex;
    flex-direction: row;
  }
}
.main-section-catalogos-container aside div ul {
  margin-top: 1rem;
}
@media (max-width: 960px) {
  .main-section-catalogos-container aside div ul {
    margin: 2rem;
  }
}
@media (max-width: 600px) {
  .main-section-catalogos-container aside div ul {
    margin: 1rem;
  }
}
.main-section-catalogos-container aside div ul li {
  list-style: none;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.main-section-catalogos-container aside div ul li a {
  text-decoration: none;
  color: black;
}
.main-section-catalogos-container aside div ul li a:hover {
  color: orangered;
  font-weight: bold;
}
.main-section-catalogos-container aside div ul .main-aside-categorias-titulo {
  font-weight: bold;
}
.main-section-catalogos-container .main-section-catalogos-cards {
  width: 70%;
  height: 90%;
  margin: 3rem;
}
@media (max-width: 960px) {
  .main-section-catalogos-container .main-section-catalogos-cards {
    margin: 1.5rem;
    width: 80%;
  }
}
@media (max-width: 720px) {
  .main-section-catalogos-container .main-section-catalogos-cards {
    width: 90%;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .main-section-catalogos-container .main-section-catalogos-cards {
    width: 97%;
  }
}
@media (max-width: 960px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards {
    padding: 2rem;
  }
}
.main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div {
  width: 80%;
  margin: auto;
}
@media (max-width: 600px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div {
    flex-direction: column;
  }
}
.main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div .imagen-card {
  width: 50%;
  padding: 1rem;
}
@media (max-width: 800px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div .imagen-card {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div .imagen-card {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div h5 {
  font-size: 2.1rem;
  color: orangered;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div h5 {
    text-align: center;
    font-size: 1.8rem;
  }
}
.main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div p {
  font-size: 1.8rem;
}
@media (max-width: 600px) {
  .main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div p {
    font-size: 1.5rem;
    text-align: center;
  }
}
.main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div a {
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 4rem;
}
.main-section-catalogos-container .main-section-catalogos-cards .catalogos-cards div div a:hover {
  color: orangered;
  background-color: white;
  font-weight: bold;
  border-color: orangered;
}
.main-section-catalogos-container .main-section-catalogos-cards .carousel button {
  color: black;
}

/*Estilos login.html*/
.main-login-form {
  height: 90vh;
  margin: 2rem;
  display: grid;
  place-items: center;
}
.main-login-form .container-main-login {
  width: 28%;
  height: 70%;
  align-items: center;
}
@media (max-width: 960px) {
  .main-login-form .container-main-login {
    width: 35%;
  }
}
@media (max-width: 720px) {
  .main-login-form .container-main-login {
    border: none;
    box-shadow: none;
  }
}
.main-login-form .container-main-login .login-container-form h3 {
  text-align: center;
  margin: 4rem;
  font-size: 2.1rem;
  color: orangered;
  text-shadow: 1px 1px 1px #8d7c8d;
}
.main-login-form .container-main-login .login-container-form label {
  font-size: 1.5rem;
  font-weight: bold;
}
.main-login-form .container-main-login .login-container-form input {
  width: 22rem;
  font-size: 1.5rem;
}
.main-login-form .container-main-login .login-container-form input:hover {
  border: 2px solid orangered;
}
.main-login-form .container-main-login .login-container-form .btn {
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.main-login-form .container-main-login .login-container-form .btn a {
  text-decoration: none;
}
.main-login-form .container-main-login .login-container-form .btn:hover {
  border-color: #0d6efd;
  font-weight: bold;
}
.main-login-form .container-main-login .login-container-form .btn:hover a {
  color: whitesmoke;
}
.main-login-form .login-container-form-register {
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.main-login-form .login-container-form-register a {
  text-decoration: none;
  color: black;
}
.main-login-form .login-container-form-register a:hover {
  color: orangered;
  font-weight: bold;
}

/*Estilos register.html*/
.main-register-form {
  height: auto;
  margin: 2rem;
  display: grid;
  place-items: center;
}
.main-register-form .main-container-form-register {
  width: 50%;
  height: auto;
  align-items: center;
}
@media (max-width: 1200px) {
  .main-register-form .main-container-form-register {
    width: 63%;
  }
}
@media (max-width: 960px) {
  .main-register-form .main-container-form-register {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .main-register-form .main-container-form-register {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
.main-register-form .main-container-form-register .main-form-register {
  width: 50%;
}
@media (max-width: 600px) {
  .main-register-form .main-container-form-register .main-form-register {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .main-register-form .main-container-form-register .main-form-register {
    width: 93%;
  }
}
.main-register-form .main-container-form-register .main-form-register h3 {
  text-align: center;
  margin: 2rem;
  font-size: 2.1rem;
  color: orangered;
  text-shadow: 1px 1px 1px #8d7c8d;
}
.main-register-form .main-container-form-register .main-form-register label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}
.main-register-form .main-container-form-register .main-form-register input {
  font-size: 1.5rem;
}
.main-register-form .main-container-form-register .main-form-register input:hover {
  color: orangered;
  font-weight: bold;
  border: 2px solid orangered;
}
.main-register-form .main-container-form-register .form-register-checkbox .form-register-checkbox-div input {
  height: 1.2rem;
}
.main-register-form .main-container-form-register .form-register-checkbox .form-register-checkbox-div label {
  font-size: 1.5rem;
}
.main-register-form .main-container-form-register .form-button-register {
  margin: 4rem auto;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
}
.main-register-form .main-container-form-register .form-button-register a {
  text-decoration: none;
}
.main-register-form .main-container-form-register input.form-button-register:hover {
  border-color: #0d6efd;
  color: whitesmoke;
}

/*Estilos nosotros.html*/
.main-container-empresa {
  height: auto;
  width: 100%;
}
.main-container-empresa .main-container-empresa-titulo {
  width: 100%;
  height: 6rem;
  background: linear-gradient(90deg, #2521a7 22%, #3530da 93%);
}
.main-container-empresa .carousel-inner {
  width: 70%;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 22px -5px #ada6ad;
}
@media (max-width: 960px) {
  .main-container-empresa .carousel-inner {
    width: 100%;
    padding: 0;
  }
}
.main-container-empresa button span {
  color: orangered;
}
.main-container-empresa .main-empresa-conteiner-info div {
  margin: 3rem;
}
.main-container-empresa .main-empresa-conteiner-info div h3 {
  font-size: 2.1rem;
  color: orangered;
  text-shadow: 1px 1px 1px #313031;
}
.main-container-empresa .main-empresa-conteiner-info div p {
  font-size: 1.8rem;
  text-align: justify;
}
.main-container-empresa .main-empresa-conteiner-info div a {
  color: black;
  text-decoration: none;
}
.main-container-empresa .main-empresa-conteiner-info .main-empresa-nos-acompañan img {
  margin: 1rem;
  width: 20rem;
  border-radius: 20rem;
  padding: 1rem;
}
@media (max-width: 720px) {
  .main-container-empresa .main-empresa-conteiner-info .main-empresa-nos-acompañan img {
    width: 15rem;
  }
}
@media (max-width: 600px) {
  .main-container-empresa .main-empresa-conteiner-info .main-empresa-nos-acompañan img {
    width: 10rem;
  }
}

.main-contacto-container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  padding: 2rem;
}
.main-contacto-container .card-contacto {
  width: 50%;
  height: auto;
  padding: 2rem;
  align-items: center;
}
@media (max-width: 1200px) {
  .main-contacto-container .card-contacto {
    width: 63%;
  }
}
@media (max-width: 960px) {
  .main-contacto-container .card-contacto {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .main-contacto-container .card-contacto {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  .main-contacto-container .card-contacto {
    padding: 0;
  }
}
.main-contacto-container .card-contacto h2 {
  text-align: center;
  font-size: 2.1rem;
  color: orangered;
  text-shadow: 1px 1px 1px #8d7c8d;
}
.main-contacto-container .card-contacto h4 {
  text-align: center;
  color: gray;
  font-size: 1.5rem;
}
.main-contacto-container .card-contacto form {
  width: 50%;
}
@media (max-width: 600px) {
  .main-contacto-container .card-contacto form {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .main-contacto-container .card-contacto form {
    width: 85%;
  }
}
.main-contacto-container .card-contacto form label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}
.main-contacto-container .card-contacto form input {
  font-size: 1.5rem;
}
.main-contacto-container .card-contacto form input:hover {
  color: orangered;
  font-weight: bold;
  border: 2px solid orangered;
}
.main-contacto-container .card-contacto form .btn:hover {
  border-color: #0d6efd;
  color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */
