@import "variables";

@import "breackpoints";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size:62.5%;
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}
/*Estilos index.html*/

/*Header*/
/*Primera seccion del header con "contacto" y "login"*/
.header1{
    background: $backgraund-primary;
    padding: 1rem;
    a{
        text-decoration: none;
        color: $color-secondary;
        font-size: $font-sm;
        margin: auto 0;
    }
    a:hover{
        color: $color-hover;
        font-weight: bold;
    }
    button{
        font-size:$font-sm;
        width: 10rem;
        border-radius:2rem;
    }
    button:hover{
        color: $color-hover;
        font-weight: bold;
        background-color: $color-secondary;
    }
    button:hover a{
        color: $color-hover;
        font-weight: bold;
    }
}
/*Segunda seccion del header con el logo y el nav*/
nav{
    height:12rem;
    padding:1rem;
    box-shadow: 2px 10px 22px -16px rgba(0,0,0,0.49);
    div{
        .header3{
            a{
                img{
                    width:15rem;
                }
            }
        }
        .header2{
            button{
                i{
                    font-size: 3.5rem;
                }
            }
            div{
                h5{
                    font-size:$font-big;
                    font-weight: bold;
                }
            }
        }
    }
}
/*Estilos main index.html*/
main{
    margin-top: 2rem;
    /*Estilos de la seccion de saludo y registro*/
    .main-section1-container{
        justify-content: space-evenly;
        align-items: center;
        div{
            /*Estilos de la imagen primera seccion del main*/
            img{
                width: 65rem;
                padding: 1rem;
                box-shadow: 1px 1px 22px -6px rgba(173,166,173,1);
                margin-bottom: 2rem;
                @include md{
                    width: 100%;
                    padding: 0;
                    box-shadow: none;
                }
                @include sm{
                    width: 32rem;
                }
            }
        }
        /*Saludo y botton registro*/
        div{
            align-items: center;
            h2{
                margin-bottom:5rem;
                font-size: 3rem;
                font-style: italic;
                @include sm{
                    text-align:center;
                }
            }
            p{
                font-size:$font-big;
                text-align: center;
            }
            .btn{
                margin-top:10rem;
                width: 50%;
                padding: 1rem;
                font-size: $font-md;
                border-radius: 2rem;
                margin-bottom: 2rem;
                a{
                    text-decoration: none;
                }
            }
            .btn:hover a{
                color: $color-secondary;
            }
        }
    }
    /*Esilos seccion ofertas index.html*/
    .main-section2-container{
        /*Titulo de la seccion*/
        .main-ofertas1{
            background: $backgraund-secondary;
            h2{
                @extend .titulo;
            }
        }
        /*Seccion contenedora cards ofertas index.html*/
        .main-ofertas-cards{
            height:auto;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            @include lg{
                flex-wrap: nowrap;
                justify-content:start;
                overflow-x: scroll;
                overscroll-behavior-x: contain;
                scroll-snap-type: x proximity;
            }
            /*Estilos cards ofertas*/
            .cards-ofertas{
                width: 30rem;
                height:auto;
                margin:2rem;
                border-radius: 2rem;
                padding:1rem;
                @extend .flex;
                @extend .border-container;
                img{
                    width: 22rem;
                    margin: 0 auto;
                }
                .card-body{
                    .card-title{
                        font-weight: bold;
                        font-size: $font-sm;
                    }
                    .card-text{
                        font-size: $font-sm;
                    }
                    a{
                        font-size: $font-sm;
                        padding: 1rem;
                        border-radius: 1rem;
                    }
                    a:hover{
                        color: $color-hover;
                        font-weight: bold;
                        background-color:$color-secondary;
                        border-color: $color-hover;
                    }
                }
            }
            .card:hover{
                border: 3px solid $color-hover;
            }
        }
    }
    /*Seccion Servicios index.html*/
    .main-section-servicios{
        /*Titulo de la seccion*/
        .main-servicios-title{
            background: $backgraund-secondary;
            h2{
                @extend .titulo;
            }
        }
        /*Contenedor de cards servicios*/
        .container-servicios-cards{
            justify-content: space-around;
            /*Estilos de cards servicios*/
            .main-cards-services{
                width: 35rem;
                height:18rem;
                @extend .border-container;
                text-align: center;
                margin: 2rem;
                transition: border-radius 2s;
                @include mdl{
                    width: 30rem;
                    margin: 1rem
                }
                @include md{
                    width: 25rem;
                }
                @include sml{
                    width: 20rem;
                    border-radius:20rem;
                }
                h4{
                    margin-top:2rem;
                    font-size: $font-md;
                    color: $color-secondary;
                    text-shadow: 1px 1px 1px rgb(8, 8, 8);
                    @include sml{
                        color: $color-primary;
                        text-shadow: 1px 1px 1px $color-secondary;
                    }
                }
            }
            .main-cards-services:hover{
                border-radius: 10rem;
                color: $color-hover;
                border: 2px solid $color-hover; 
            }
            .main-cards-services:hover h4{
                font-weight: bold;
                color: $color-hover;
            }
            /*inscersion de las imagenes dentro de las cards servicios*/
            .card1{
                background-image: url(../img/estacionamiento.jpg);
                @extend .bgimage;
            }
            .card2{
                background-image: url(../img/atencionTelefonica.png);
                @extend .bgimage;
            }
            .card3{
                background-image: url(../img/ahorro.jpg);
                @extend .bgimage;
            }
            .card4{
                background-image: url(../img/ayudaCargar.jpg);
                @extend .bgimage;
            }
        }
    }
}
/*Estilos del footer index.html*/
footer{
    background: $backgraund-primary;
    /*Primera seccion del footer que incluye iconos de redes*/
    .footer-container-icons{
        display: flex;
        justify-content: flex-end;
        border-bottom: 0.1px solid rgba(245, 245, 245, 0.932);
        @include mdl{
            justify-content:center;
        }
        a{
            margin:1rem;
            i{
                color: $color-secondary;
            }
            i:hover{
                color: $color-hover;
            }
        }
    }
    /*Segunda seccion del footer contenedora de mapa de sitio*/
    .footer-container-mapaSitio{
        @include mdl{
            flex-direction: column;
        }
        /*contenedor del logo footer*/
        .footer-mapaSitio-img{
            display:grid;
            place-items: center;
            @include mdl{
                margin-top: 2rem;
            }
            a{
                img{
                    width: 23rem;
                    @include sml{
                        width: 18rem;
                    }
                }
            }
        }
        /*contenedor mapa de sitio footer index.html*/
        .listas-footer{
            @include mdl{
                justify-content:center;
            }
            div{
                margin: 3rem;
                @include sml{
                    margin: 1.5rem;
                }
                @include sm{
                    margin: 0.5rem;
                }
                .footer-lista{
                    list-style:none;
                    font-size: $font-md;
                    @include sm{
                        font-size: $font-sm;
                    }
                    li{
                        a{
                            text-decoration:none;
                            color: $color-secondary;
                            @include sm{
                                font-size: $font-sm;
                            }
                            h3{
                                font-size: $font-big;
                                text-shadow: 1px 1px 1px rgb(8, 8, 8);
                                @include sm{
                                    font-size: $font-sm;
                                }
                            }
                        }
                    }
                    .subtitulo-list-footer{
                        font-style: italic;
                        color:$color-hover;
                    }
                    li:hover a{
                        color: $color-hover;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
/*Estilos aceitunas.html*/
/*Main aceitunas html titulo*/
.main-section-catalogos-titulo{
    height:6rem;
    background: $backgraund-secondary;
    h2{
        @extend .titulo;
    }
}
/*Estilos main aceitunas.html*/
.main-section-catalogos-container{ 
    height:80vh;
    @include lg{
        flex-direction:column;
        height: auto;
        margin-bottom: 1rem;
    }
    /*Estilos aside main aceitunas.html*/
    aside{
        width:auto;
        padding: 3rem;
        height:min-content;
        margin:2rem;
        @extend .border-container;
        @include lg{
            display: flex;
            justify-content:center;
            width: 70%;
        }
        @include md{ 
            width: 90%;
        }
        @include sml{
            width: 97%;
            padding:1rem
        }
        @include sml{
            flex-wrap: wrap;
        }
        h4{
            font-size:$font-big;
            color:$color-hover;
            @include lg{
                margin: auto;
            }
        }
        div{
            @include lg{
                display:flex;
                flex-direction: row;
            }
            ul{
                margin-top: 1rem;
                @include lg{
                    margin: 2rem;
                }
                @include sml{
                    margin: 1rem;
                }
                li{
                    list-style: none;
                    font-size: $font-md;
                    line-height: 2.5rem;
                    a{
                        text-decoration: none;
                        color: $color-primary;
                    }
                    a:hover{
                        color:$color-hover;
                        font-weight: bold;
                    }
                }
                .main-aside-categorias-titulo{
                    font-weight: bold;
                }
            }
        }
    }
    .main-section-catalogos-cards{
        width: 70%;
        height: 90%;
        margin: 3rem;
        @include lg{ 
            margin: 1.5rem;
            width: 80%;
        }
        @include md{
            width: 90%;
            margin: 0;
        }
        @include sml{
            width: 97%;
        }
        @extend .border-container;
        .catalogos-cards{
            @include lg{
                padding: 2rem;
            }
            div{
                width: 80%;
                margin: auto;
                @include sml{
                    flex-direction: column;
                }
                .imagen-card{
                    width: 50%;
                    padding:1rem;
                    @include mdl{ 
                        width: 60%;
                    }
                    @include sm{
                        width: 70%;
                    }
                }
                div{
                    @include sml{
                        display: flex;
                        flex-direction: column;
                        justify-content:center;
                    }
                    h5{
                        font-size:$font-big;
                        color:$color-hover;
                        margin-bottom: 2rem;
                        @include sml{
                            text-align: center;
                            font-size: $font-md;
                        }
                    }
                    p{
                        font-size:$font-md;
                        @include sml{
                            text-align: justify;
                            font-size: $font-sm;
                        }
                    }
                    a{
                        font-size:$font-sm;
                        border-radius: 1rem;
                        padding: 1rem;
                        margin-top: 4rem;
                    }
                    a:hover{
                        color: $color-hover;
                        background-color: white;
                        font-weight: bold;
                        border-color: $color-hover;
                    }
                }
            }
        }
        .carousel{
            button{
                color: black;
            }
        }
    }
}
/*Estilos login.html*/
.main-login-form{
    height:90vh;
    margin: 2rem;
    display: grid;
    place-items: center;
    .container-main-login{
        width:28%;
        height:70%;
        @extend .flex;
        align-items:center;
        @extend .border-container;
        @include lg{
            width: 35%;
        }
        @include md{
            border: none;
            box-shadow:none;
        }
        .login-container-form{
            @extend .flex;
            h3{
                text-align: center;
                margin: 4rem;
                font-size: $font-big;
                color:$color-hover ;
                text-shadow: 1px 1px 1px rgb(141, 124, 141);
            }
            label{
                font-size:$font-sm;
                font-weight: bold; 
            }
            input{
                width: 22rem;
                @extend .border-input;
                font-size: $font-sm;
            }
            input:hover{
                border: 2px solid $color-hover;
            }
            .btn{
                padding: 1rem;
                font-size: $font-sm;
                @extend .border-input;
                margin-top: 3rem;
                a{
                    text-decoration: none;
                }
            }
            .btn:hover{
                border-color: #0d6efd;
                font-weight: bold;
            }
            .btn:hover a{
                color: $color-secondary;
            }
        }
    }
    .login-container-form-register{
        text-align:center;
        margin-top: 2rem;
        font-weight: 500;
        font-size: $font-sm;
        a{
            text-decoration: none;
            color:black; 
        }
        a:hover{
            color:$color-hover;
            font-weight: bold;
        }
    }
}
/*Estilos register.html*/
.main-register-form{
    height:auto;
    margin: 2rem;
    display: grid;
    place-items: center;
    .main-container-form-register{
        width:50%;
        height:auto;
        @extend .flex;
        align-items:center;
        @extend .border-container;
        @include xl{
            width: 63%;
        }
        @include lg{
            width: 75%;
        }
        @include mdl{
            width: 100%;
            border: none;
            box-shadow:none;
        }
        .main-form-register{
            @extend .flex;
            width:50%;
            @include sml{
                width: 70%;
            }
            @include sm{
                width: 93%;
            }
            h3{
                text-align: center;
                margin:2rem;
                font-size: $font-big;
                color:$color-hover;
                text-shadow: 1px 1px 1px rgb(141, 124, 141);
            }
            label{
                font-size:$font-sm;
                font-weight: bold;
                margin-top: 2rem; 
            }
            input{
                @extend .border-input;
                font-size: $font-sm;
            }
            input:hover{
                color:$color-hover;
                font-weight: bold;
                border: 2px solid $color-hover;
            }
        }
        .form-register-checkbox{
            @extend .flex;
            .form-register-checkbox-div{
                input{
                    height:1.2rem;
                }
                label{
                    font-size:$font-sm;
                }
            }
        }
        .form-button-register{
            margin: 4rem auto;
            width: 100%;
            padding: 1rem;
            font-size: $font-sm;
            @extend .border-input;
            a{
                text-decoration: none;
            }
        }
        input.form-button-register:hover{
            border-color: #0d6efd;
            color: $color-secondary;
        }
    }
}

/*Estilos nosotros.html*/
.main-container-empresa{
    height:auto;
    width:100%;
    .main-container-empresa-titulo{
        width: 100%;
        height:6rem;
        background: $backgraund-secondary;
        h1{
            @extend .titulo;
        }
    }
    .carousel-inner{
        width: 70%;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 1px 1px 22px -5px rgba(173,166,173,1);
        @include lg{
            width: 100%;
            padding:0;
        }
    }
    button{
        span{
            color: $color-hover;
        }
    }
    .main-empresa-conteiner-info{
        div{
            margin: 3rem;
            h3{
                font-size:$font-big;
                color: $color-hover;
                text-shadow: 1px 1px 1px rgb(49, 48, 49);
            }
            p{
                font-size:$font-md;
                text-align: justify;
            }
            a{
                color: $color-primary;
                text-decoration:none;
            }
        }
        .main-empresa-nos-acompañan img{
            margin: 1rem;
            width: 20rem;
            border-radius: 20rem;
            padding:1rem;
            @include md{
                width: 15rem;
            }
            @include sml{
                width: 10rem;
            }
        }
    } 
}